@model IEnumerable<Domain.Entities.Note>

@{
    ViewData["Title"] = "Список заметок";
}

<h1>Заметки</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Создать новую</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Заголовок</th>
            <th>Дата создания</th>
            <th>Теги</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.CreatedAt.ToShortDateString()</td>
                <td>@string.Join(", ", item.NoteTags.Select(x=> x.Tag.Name)) </td>
                <td></td>

                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>